.DS_Store
.vscode
__pycache__
ToRemove
/.vs/SolarDevice/v17/.wsuo
/.vs/SolarDevice/v17/Browse.VC.db
/.vs/SolarDevice/v17/Browse.VC.db-shm
/.vs/SolarDevice/v17/Browse.VC.db-wal
/.vs/SolarDevice/v17/Browse.VC.opendb
/.vs/SolarDevice/v17/DocumentLayout.backup.json
/.vs/SolarDevice/v17/DocumentLayout.json
/.vs/SolarDevice/FileContentIndex/07276230-95f0-461d-adf3-9f697691ace3.vsidx
/.vs/SolarDevice/FileContentIndex/7d9bcd50-1cde-440b-bed7-66e057ecb0eb.vsidx
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/SolarDevice/CopilotIndices/17.14.1584.41681/CodeChunks.db
/.vs/SolarDevice/CopilotIndices/17.14.1584.41681/CodeChunks.db-shm
/.vs/SolarDevice/CopilotIndices/17.14.1584.41681/CodeChunks.db-wal
/.vs/SolarDevice/CopilotIndices/17.14.1584.41681/SemanticSymbols.db
/.vs/SolarDevice/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-shm
/.vs/SolarDevice/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-wal
/.vs/VSWorkspaceState.json
/.vs/SolarDevice/FileContentIndex/de8fd221-0f41-4350-8da8-b70e0dfa84c0.vsidx
/.vs/SolarDevice
/.vs
