[Unit]
Description=DisplayController
After=network.target

[Service]
Type=simple
ExecStart=python3 main.py /dev/ttyACM0
Restart=on-failure
RestartSec=10s
User=solar
WorkingDirectory=/home/solar/SolarDevice/DisplayController
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target