[Unit]
Description=DisplayController
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'until host example.com; do sleep 1; done'
ExecStart=python3 main.py /dev/ttyACM0
Restart=on-failure
RestartSec=10s
User=solar
WorkingDirectory=/home/solar/dev/SolarDevice/DisplayController
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target
