[Unit]
Description=PureData
After=network.target

[Service]
Type=simple
ExecStart=pd -nogui main.pd  -path /home/solar/
Restart=on-failure
RestartSec=10s
User=solar
WorkingDirectory=/home/solar/SolarDevice/Pd
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target





