[Unit]
Description=PureData
After=network.target

[Service]
Type=simple
ExecStartPre=amixer -c 3 set Master 60%
ExecStart=sudo /usr/bin/nice -n -20 sudo -u solar pd -nogui main_audio.pd  -path /home/solar/
Restart=on-failure
RestartSec=10s
User=solar
WorkingDirectory=/home/solar/SolarDevice/Pd
StandardOutput=journal
StandardError=journal


[Install]
WantedBy=multi-user.target
